<!DOCTYPE html>
<html>
<head>
    <title>Purchase Confirmation</title>
</head>
<body>
    <h2>Thank You for Your Purchase!</h2>
    <p>Dear Customer,</p>
    <p>Hello {{name}}, We're thrilled to inform you that your purchase of <strong>{{ product_name }}</strong> was successful!. Your Product will be delivered within 5 to 7 Day's.</p>
    
    <p>Thank you for choosing our store. If you have any questions or need assistance, feel free to contact us.</p>
    <p>Best regards,<br>Neu Kart</p>
</body>
</html>
